<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/myaccount.css" />



<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""></a>
    <h1>CloudBox</h1></a>

    <div class="collapse navbar-collapse navbar-brand" id="navbarNavAltMarkup">
        <div class="navbar-nav flex-row ml-md-auto d-non d-md-flex">
            <a class="nav-item nav-link active" href="/upload" style="color:#0F9D58;">Upload Photos | </a>
            <a class="nav-item nav-link" href="/photo" style="color:#0F9D58;">My Album | </a>
            <a class="nav-item nav-link" href="/logout" style="color:#0F9D58;">Logout</a>
        </div>
    </div>
</nav>


{{#each user}}
<div id="login-box">
    <div class="left">
        <h1>My Account</h1>
        <label class="accdet" for="displayName" style="color:#0F9D58;">Name</label>
        <input class="accdet" type="text" name="displayName" disabled value="{{this.displayName}}" />
        <label class="accdet" for="displayName" style="color:#0F9D58;">Email Address</label>

        <input class="accdet" type="text" name="email" disabled value="{{this.username}}" />
        <label class="accdet" for="displayName" style="color:#0F9D58;">Member Since</label>

        <input class="accdet" type="text" name="date" disabled value="{{this.created_at}}" />
        <div class="center">
            <div>
                <img src={{this.photo}} style="width: 200px" />
            </div>
        </div>
    </div>

</div>

{{/each}}